title=Adblock Plus | The world's # 1 free ad blocker
description=Adblock Plus, the most popular ad blocker on Firefox, Chrome, Safari, Android and iOS. Block pop-ups and annoying ads on websites like Facebook and YouTube.

<head>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/tracking-events.js"></script>
</head>

<? include intro/sections ?>
<? include as-mentioned ?>
<? include features ?>
<? include abb-cross-promotion ?>
<? include about-abp ?>
<? include footnote ?>
<? include install-button-text ?>

<script src="/js/vendor/bowser.js"></script>
<script src="/js/install-button.js"></script>
